<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/profile.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

        <title>Profile</title>
    </head>
    <body>
        <div class="mainProfile">
            <div class="profile-container">
                <div class="profile-photo">
                    <img src="profile.png" alt="Profil Fotoğrafı">
                </div>
                <div class="profile-details">
                    <h2 class="profile-name">Akhan Akbulut</h2>
                    <p class="profile-department"><b>Department:</b> CSE</p>
                    <p class="profile-mail"><b>E-mail:</b> a.akbulut@iku.edu.tr</p>
                </div>
            </div>
        </div>
    </body>
</html>