body {
    margin: 0;
}

.intro {
    margin-bottom: 100px;
}

.box {
    width: 70%;
    height: auto;
    margin: 5% 15% 5% 15%
}

.create-project {
    width: 200px;
    height: 40px;
    background-color: lightgreen;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .create-project:hover {
        background-color: #82ec85;
    }

    .create-project i {
        font-size: 32px;
        color: white;
    }

    .create-project h4 {
        margin: 0;
        font-size: 18px;
        color: white;
    }

.titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

    .titles h3 {
        margin: 0;
        font-size: 18px;
        color: #333;
    }

.contents {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.table-a {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.table-td {
    padding-right: 330px;
    display: ruby-text;
}
